<p>project-list works!</p>
<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Pesquisar projetos" [(ngModel)]="searchQuery"
                    (ngModelChange)="searchProjects()">
            </div>
            <app-card-project *ngFor="let project of projects" [project]="project"></app-card-project>

            <button class="btn btn-secondary btn-block" (click)="toggleShowMore()"
                *ngIf="allProjects.length > projects.length">{{ showMore ? 'Mostrar menos' : 'Mostrar mais' }}</button>
        </div>
    </div>
</div>